<input type="button" value="Voortgang Tabel Zien" (click)="vulVoortgangen()">

<input type="text" id="feedback" [(ngModel)]="feedback" (change)="veranderFeedback($event)">
<input type="text" id="id" [(ngModel)]="id" (change)="veranderID($event)">
<input type="button" value="geef feedback" (click)="setFeedback(feedback,id)">

<div id="DeTabel">
<table id="voortgangTabel" *ngFor="let voortgang of voortgangen">
    <tr><th>Oefening naam</th><th>Oefening id</th><th>Gebruikte gewicht</th><th>Aantal reps</th><th>Gevoel</th><th>Feedback</th></tr>
    <tr *ngFor="let v of voortgang">
            <td>{{v.oefening.naam}}</td>
            <td>{{v.id}}</td>
            <td>{{v.gebruiktegewicht}}</td>
            <td>{{v.liftaantal}}</td>
            <td>{{v.antwoorden}}</td>
            <td>{{v.feedback}}</td>
    </tr>
</table>
</div>


